<h2>Assigned:</h2>
<ul>
  {{#each assigned}}
      <li>
        <a href="/user/{{user._id}}">{{user.user}} </a>
        <a href="/task/{{_id}}"> : {{description}}
        <input type="checkbox" name="done" disabled="disabled" value="{{done}}" class="checkbox" {{#if done}}checked{{/if}}>
        </a>
      </li>
  {{/each}}
</ul>



