<h2>User:</h2>
<ul>
  <li class="single-task">
    {{user.user}}
  </li>
</ul>
<h3>Tasks assigned to user:</h3>
{{#each assignedtodos}}
      <li>
        <a href="/task/{{_id}}">{{created}} - {{description}}
        <input type="checkbox" name="done" disabled="disabled" value="{{done}}" class="checkbox" {{#if done}}checked{{/if}}>
        </a>
      </li>
  {{/each}}
<div class="single-menu">
  <a href="/user/{{_id}}/edit">Edit User</a>
  <a href="/user/{{_id}}/delete">Delete User</a>
  <a href="/">Back to All Tasks</a>
</div>